html { overflow-y: scroll;}
body {
    position: absolute;
    margin:auto;
    padding:10px;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444
   }
h1 {
    font-size: 3em;
    margin-top: 40px;
    }
h2 {
    font-size: 2em;
    margin-top:30px;
}
.wrapper {
    position: absolute;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: red;
}
#map {
    height: 30em;
    width: 40em;
    margin: auto;
    padding: 10px;
}
#IAmForm {
    color: grey;
}
#floating_panel {
    top: 10px;
    left: 25px;
    z-index: 5;
    border: 1px solid #999;
    text-align: left;
    line-height: 30px;
    padding-left: 10px;
}
.hide {
    display: none;
}
input[type='date']{
    color: grey;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}