<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dublin Map</title>
    <!-- link to stylesheet in static/css folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="module" src="{{ url_for('static', filename='index.js') }}" async defer></script>

</head>
<body>

  <div class="wrapper">
      <div id="header">
            <h4>Group 19: Ajwad | Ian | Judith</h4>
            <hr>

            <!-- Form which reads user input. Output changed depending on choice -->
             <div id="user_input">
                 <h2>I am...</h2>
                 <div id="IAmForm">
                     <button id="need_bike" class="button"><span>Looking for a Bike</span></button>
                     <button id="return_bike" class="button"><span>Returning a Bike</span></button>
                     <button id="plan_trip" class="button"><span>Planning a Trip</span></button>
                     <button id="list_stations" class="button" onclick="openNav()"><span>Stations List</span></button>
                 </div>
             <div id="userTripForm"></div>

            </div>

            <!-- If user is planning trip: prompt for more info-->
            <div id="userChoice"></div>
            <div id="tripPlanner" class="hide">
                <br>
                 <form>
                   <label for="dayOfTrip"><strong>Day of Trip: </strong></label>
                    <input type="date" id="dayOfTrip" name="tripDay">
                 </form>
           </div>
           <br>
            <!--Map header changes depending on what the user is looking for-->
            <h2 id="mapHeader">All available stations:</h2>
              <div id="stationInfo">
              </div>
          </div>


        <div id="stationsSidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="position: sticky; float: right; padding-top: 10px;">x</a>
            <h2 style="color:#fff; padding-left: 32px;">All Stations</h2>
        </div>

      <script>
          function moreInfo(id){
                document.getElementById("stationInfo").innerHTML = "returning info for Station No: "+id;
          }
          function openNav() {
                document.getElementById("stationsSidepanel").style.width = "250px";
          }
          function closeNav() {
                document.getElementById("stationsSidepanel").style.width = "0";
          }
          function getWeatherInfo(id) {
            // gets dynamic weather info from database
          }
          function getAvailability(id) {
            console.log('getAvailability function called');
            // gets dynamic station info from database
            fetch('/availability/'+id)
            .then((response) => response.json())
            .then(data => {console.log(data); return data;})
            .then((data) => {
                moreInfo(id);
                closeNav();
            });
          }
      </script>
      </div>
      <!--Map container-->
      <div id="map"></div>

      <!--load map from googlemaps API using defer to load last-->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg2sU2u51CSm_oPPVdNrDTIyHW9GU29MY&callback=initMap" async defer>
      </script>

</body>
</html>